MONGODB_URI=mongodb://localhost:27017/mono-commerce
JWT_SECRET=replace-with-long-secret
NEXT_PUBLIC_APP_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_51TovIzBq3DJ9fJPXgwWTl5mpz8ZITs1ib548BzApV0onJMY6NiI9cJ7QTutaODMXoCwLkdBFOQUGpA78tSCld98F00x7wiCXA9
CLOUDINARY_CLOUD_NAME=your-cloud
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=username
SMTP_PASS=password
SMTP_FROM=no-reply@mono.com
